{
	"subscriberInfo": {  
		"globalSubscriberId":"{{customer}}"
	},
	"requestInfo": {  
		"suppressRollback":false,
		"productFamilyId":"a9a77d5a-123e-4ca2-9eb9-0b015d2ee0fb",
		"requestorId":"adt",
		"instanceName":"{{cds_instance_name}}",
		"source":"VID"
	},
	"cloudConfiguration": {  
		"lcpCloudRegionId":"{{GLOBAL_INJECTED_REGION}}",
		"tenantId":"{{GLOBAL_INJECTED_OPENSTACK_TENANT_ID}}",
		"cloudOwner":"{{cloudOwner}}"
	}
}